*{
    font-family: 'Montserrat','Courier New', Courier, monospace;
    margin: 0;

}
:root {
  --primary-color: #03045e;
  --secondary-color: #0077b6;
  --third-color:#00b4d8;
  --bg-color:#caf0f8;
}
body{
    background-color:rgb(245, 245, 245);
    padding: 5px;
}
#nav{   
    background-color: white;
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 2px 3px 12px 1px gray;
    padding: 10px;  
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#nav-div{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px;
}
a{
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    transition: all  ease-in;
}

.buttons{
    border: none;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;

}
.buttons:hover{
   
    a{
        color: var(--primary-color)
    }

}
@media (min-width:650px){
#nav{
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
#nav-div{
    display: flex;
    gap: 20px;
}
a{
    font-size: 20px;
}
}
#hero-cont{
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;
    /* background-color: lightblue; */

}
#hero-1{
    padding: 20px;
    text-align: center;
}
#hero-2{
margin-top: 20px;
text-align: center;
}
